[submodule "gifu"]
	path = gifu
	url = https://github.com/gifu/orezeni.github.com.git
	branch = gifu.gh-pages
[submodule "ogaki"]
	path = ogaki
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ogaki.gh-pages
[submodule "takayama"]
	path = takayama
	url = https://github.com/gifu/orezeni.github.com.git
	branch = takayama.gh-pages
[submodule "mitake"]
	path = mitake
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mitake.gh-pages
[submodule "tajimi"]
	path = tajimi
	url = https://github.com/gifu/orezeni.github.com.git
	branch = tajimi.gh-pages
[submodule "seki"]
	path = seki
	url = https://github.com/gifu/orezeni.github.com.git
	branch = seki.gh-pages
[submodule "nakatsugawa"]
	path = nakatsugawa
	url = https://github.com/gifu/orezeni.github.com.git
	branch = nakatsugawa.gh-pages
[submodule "mino"]
	path = mino
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mino.gh-pages
[submodule "mizunami"]
	path = mizunami
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mizunami.gh-pages
[submodule "hashima"]
	path = hashima
	url = https://github.com/gifu/orezeni.github.com.git
	branch = hashima.gh-pages
[submodule "ena"]
	path = ena
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ena.gh-pages
[submodule "minokamo"]
	path = minokamo
	url = https://github.com/gifu/orezeni.github.com.git
	branch = minokamo.gh-pages
