[submodule "gifu"]
	path = gifu
	url = https://github.com/gifu/orezeni.github.com.git
	branch = gifu.gh-pages
[submodule "ogaki"]
	path = ogaki
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ogaki.gh-pages
[submodule "takayama"]
	path = takayama
	url = https://github.com/gifu/orezeni.github.com.git
	branch = takayama.gh-pages
[submodule "mitake"]
	path = mitake
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mitake.gh-pages
[submodule "tajimi"]
	path = tajimi
	url = https://github.com/gifu/orezeni.github.com.git
	branch = tajimi.gh-pages
[submodule "seki"]
	path = seki
	url = https://github.com/gifu/orezeni.github.com.git
	branch = seki.gh-pages
[submodule "nakatsugawa"]
	path = nakatsugawa
	url = https://github.com/gifu/orezeni.github.com.git
	branch = nakatsugawa.gh-pages
[submodule "mino"]
	path = mino
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mino.gh-pages
[submodule "mizunami"]
	path = mizunami
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mizunami.gh-pages
[submodule "hashima"]
	path = hashima
	url = https://github.com/gifu/orezeni.github.com.git
	branch = hashima.gh-pages
[submodule "ena"]
	path = ena
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ena.gh-pages
[submodule "minokamo"]
	path = minokamo
	url = https://github.com/gifu/orezeni.github.com.git
	branch = minokamo.gh-pages
[submodule "toki"]
	path = toki
	url = https://github.com/gifu/orezeni.github.com.git
	branch = toki.gh-pages
[submodule "kakamigahara"]
	path = kakamigahara
	url = https://github.com/gifu/orezeni.github.com.git
	branch = kakamigahara.gh-pages
[submodule "kani"]
	path = kani
	url = https://github.com/gifu/orezeni.github.com.git
	branch = kani.gh-pages
[submodule "yamagata"]
	path = yamagata
	url = https://github.com/gifu/orezeni.github.com.git
	branch = yamagata.gh-pages
[submodule "mizuho"]
	path = mizuho
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mizuho.gh-pages
[submodule "hida"]
	path = hida
	url = https://github.com/gifu/orezeni.github.com.git
	branch = hida.gh-pages
[submodule "motosu"]
	path = motosu
	url = https://github.com/gifu/orezeni.github.com.git
	branch = motosu.gh-pages
[submodule "gujo"]
	path = gujo
	url = https://github.com/gifu/orezeni.github.com.git
	branch = gujo.gh-pages
[submodule "gero"]
	path = gero
	url = https://github.com/gifu/orezeni.github.com.git
	branch = gero.gh-pages
[submodule "kaizu"]
	path = kaizu
	url = https://github.com/gifu/orezeni.github.com.git
	branch = kaizu.gh-pages
[submodule "ginan"]
	path = ginan
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ginan.gh-pages
[submodule "kasamatsu"]
	path = kasamatsu
	url = https://github.com/gifu/orezeni.github.com.git
	branch = kasamatsu.gh-pages
[submodule "yoro"]
	path = yoro
	url = https://github.com/gifu/orezeni.github.com.git
	branch = yoro.gh-pages
[submodule "tarui"]
	path = tarui
	url = https://github.com/gifu/orezeni.github.com.git
	branch = tarui.gh-pages
[submodule "sekigahara"]
	path = sekigahara
	url = https://github.com/gifu/orezeni.github.com.git
	branch = sekigahara.gh-pages
[submodule "godo"]
	path = godo
	url = https://github.com/gifu/orezeni.github.com.git
	branch = godo.gh-pages
[submodule "wanouchi"]
	path = wanouchi
	url = https://github.com/gifu/orezeni.github.com.git
	branch = wanouchi.gh-pages
[submodule "anpachi"]
	path = anpachi
	url = https://github.com/gifu/orezeni.github.com.git
	branch = anpachi.gh-pages
[submodule "ibigawa"]
	path = ibigawa
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ibigawa.gh-pages
[submodule "ono"]
	path = ono
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ono.gh-pages
[submodule "ikeda"]
	path = ikeda
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ikeda.gh-pages
[submodule "kitagata"]
	path = kitagata
	url = https://github.com/gifu/orezeni.github.com.git
	branch = kitagata.gh-pages
[submodule "sakahogi"]
	path = sakahogi
	url = https://github.com/gifu/orezeni.github.com.git
	branch = sakahogi.gh-pages
[submodule "tomika"]
	path = tomika
	url = https://github.com/gifu/orezeni.github.com.git
	branch = tomika.gh-pages
[submodule "kawabe"]
	path = kawabe
	url = https://github.com/gifu/orezeni.github.com.git
	branch = kawabe.gh-pages
[submodule "hichiso"]
	path = hichiso
	url = https://github.com/gifu/orezeni.github.com.git
	branch = hichiso.gh-pages
[submodule "yaotsu"]
	path = yaotsu
	url = https://github.com/gifu/orezeni.github.com.git
	branch = yaotsu.gh-pages
[submodule "shirakawa"]
	path = shirakawa
	url = https://github.com/gifu/orezeni.github.com.git
	branch = shirakawa.gh-pages
[submodule "higashishirakawamura"]
	path = higashishirakawamura
	url = https://github.com/gifu/orezeni.github.com.git
	branch = higashishirakawamura.gh-pages
