[submodule "gifu"]
	path = gifu
	url = https://github.com/gifu/orezeni.github.com.git
	branch = gifu.gh-pages
[submodule "ogaki"]
	path = ogaki
	url = https://github.com/gifu/orezeni.github.com.git
	branch = ogaki.gh-pages
[submodule "takayama"]
	path = takayama
	url = https://github.com/gifu/orezeni.github.com.git
	branch = takayama.gh-pages
[submodule "mitake"]
	path = mitake
	url = https://github.com/gifu/orezeni.github.com.git
	branch = mitake.gh-pages
